<div v-if="isAuthorized">
  <header class="header">Att göra</header>
  <ul>
    <li class="todo-item" v-for="todo in todos" v-on:click="show = !show"> 
      <div>
        <p>{{ todo.title }}</p>
        <span>{{ todo.date }}</span>
      </div>
      <transition name="fade">
        <button v-if="show" id="deleteTodo" @click="deleteTodo(todo)">X</button>
      </transition>
    </li>
  </ul>
  <div id="todo-wrapper">
    <button id="openForm" @click="openForm">+</button>
    <div v-show="isCreating" id="create-todo">
      <modal name="create-todo">
        <p>Ange namn och tryck på Spara</p>
        <input v-model="title" required type="text" placeholder="Titel" autofocus/>
        <button @click="createTodo">Spara</button>
      </modal>
    </div>
  </div>
</div>