<div>
  <!-- List Todos -->
  <ul>
    <li v-for="todo in todos">
      <div>
        {{ todo.title }} <button v-on:click="removeTodo(todo['.key'])">TA BORT</button>
      </div> 
    </li>
  </ul>
  <div>
  <!-- Create Todo -->
  <form class="todo-item" v-on:submit.prevent="createTodo">
    <div><input v-model="title" required type="text" placeholder="Titel" /></div>
    <div><textarea v-model="desc" required placeholder="Beskrvining"></textarea></div>
    <button type="submit">Skapa</button>
  </form>
</div>
</div>


