@import '../variables';

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    margin: 0;
    padding: 0;
    font-family: $font;
    list-style: none;
}
.app {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#welcome-text {
    text-align: center;
    margin: 0 auto;
}
    
.todo {
    grid-column: 1;
    grid-row: 3;
    grid-row-gap: 10px;
    padding: 10px;
    background-color: white;
}
#login-form input, button {
    display: block;
    width: 85%;
    margin: 1rem auto;
}

#menu{
    ul{
        display: flex;
        li{
            flex: 1;
            text-align: center;
            a {
                display: block;
                padding: 20px;
                border: 1px solid red;
            }
        }
    }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}